/* @font-face{
  font-family:'NanumBarunGothic';
  src:url("../fonts/NanumBarunGothic.eot");
  src:local("☺"),url("../fonts/NanumBarunGothic.woff") format("woff");
} */

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/* body { font-family: "Helvetica Neue", "Nanum Brush Script", Helvetica, Arial,"NanumBarunGothic",  sans-serif; } */
body { font-family: "Helvetica Neue", "Yeon Sung", Helvetica, Arial,"NanumBarunGothic",  sans-serif; }
